 <div class="container">
   <div class="card" style="width: 18rem;">
     <div class="card-body">
       <h5 class="card-title">Today</h5>
       <h6 class="card-subtitle mb-2 text-muted"> <%= @today %> </h6>
       <p class="card-text">
         <%=  %>
       </p>
       <%= link_to "New Appointment", new_appointment_path, class: "btn btn-info" %>
     </div>
   </div>
 </div>
